@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0px;
  font-family: "Archivo Narrow", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow", sans-serif;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-family: "Archivo Narrow", sans-serif;
}

.tp {
  padding-top: 140px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .tp {
    padding-top: 20px;
  }
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 899.98px) {
  .container {
    max-width: 700px;
    width: calc(100% - 40px);
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

.red-card {
  width: 10px;
  height: 20px;
  background-color: red;
}

.yellow-card {
  width: 10px;
  height: 20px;
  background-color: yellow;
}

.not-found {
  text-decoration: underline;
}

.not-found-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 70px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.not-found-container h1 {
  font-size: 25px;
}
.not-found-container h1 a {
  color: blue;
}

/** navbar ***/
.nav-bar {
  height: 100px;
  width: 100%;
  background-color: #151515;
  position: fixed;
  left: 0;
  top: 0;
}
@media (max-width: 767.98px) {
  .nav-bar {
    transition: 0.3s;
    height: 100vh;
    width: 320px;
    left: -350px;
  }
  .nav-bar.active {
    left: 0;
  }
  .nav-bar .container {
    padding: 0;
  }
}
.nav-bar .links {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
}
@media (max-width: 767.98px) {
  .nav-bar .links {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: inherit;
  }
}
.nav-bar .links a {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.nav-bar .links a.active {
  font-size: 16px;
  opacity: 1;
  border-bottom: 3px solid #fefefe;
}
@media (max-width: 767.98px) {
  .nav-bar .links a.active {
    background-color: #292929;
  }
}
.nav-bar .links a:hover {
  background-color: #292929;
}
.nav-bar .links .nav-logo {
  display: none;
  height: 120px;
}
.nav-bar .links .nav-logo img {
  height: inherit;
}
@media (max-width: 767.98px) {
  .nav-bar .links .nav-logo {
    display: flex;
    position: absolute;
    bottom: 10px;
  }
}

.menu-burger {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: none;
}
@media (max-width: 767.98px) {
  .menu-burger {
    display: block;
  }
}
.menu-burger .burger {
  width: 30px;
  height: 4px;
  border-radius: 4px;
  transition: 0.1s;
  background-color: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-burger .burger::before {
  content: "";
  transition: 0.1s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: inherit;
  height: inherit;
  border-radius: 4px;
  background-color: inherit;
}
.menu-burger .burger::after {
  content: "";
  transition: 0.1s;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 10px;
  width: inherit;
  height: inherit;
  border-radius: 4px;
  background-color: inherit;
}
.menu-burger .burger.active {
  transition: 0.1s;
  width: 28px;
}
.menu-burger .burger.active::before {
  content: "";
  transition: 0.1s;
  width: 18px;
}
.menu-burger .burger.active::after {
  transition: 0.1s;
  content: "";
  width: 18px;
}

/***** footer *****/
.footer {
  width: 100%;
  height: 140px;
  background-color: #151515;
  margin-top: 40px;
}
@media (max-width: 599.98px) {
  .footer {
    height: auto;
  }
}
.footer .footer-flex {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid gray;
}
@media (max-width: 599.98px) {
  .footer .footer-flex {
    flex-direction: column;
    height: auto;
    padding: 20px 0 20px 0;
  }
}
.footer .footer-flex:last-child {
  border: none;
}
.footer .footer-flex .footer-link {
  display: flex;
  color: #fff;
  letter-spacing: 0.5px;
}
.footer .footer-flex .footer-link a {
  margin-left: 10px;
  letter-spacing: 0.5px;
  color: rgb(216, 117, 117);
  text-decoration: underline;
}
.footer .footer-flex .footer-link-massage {
  display: flex;
  align-items: center;
}
@media (max-width: 599.98px) {
  .footer .footer-flex .footer-link-massage {
    margin-top: 20px;
  }
}
.footer .footer-flex .footer-link-massage a {
  margin: 0 10px;
  transition: 0.2s;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-flex .footer-link-massage a:hover {
  transition: 0.2s;
  box-shadow: 0 0 10px rgb(92, 211, 226);
  border-color: rgb(92, 211, 226);
}
.footer .footer-flex .footer-link-massage a:hover svg {
  fill: rgb(92, 211, 226);
  transition: 0.2s;
}
.footer .footer-flex .footer-link-massage a svg {
  transition: 0.2s;
  fill: #fff;
}
.footer .footer-flex .footer-author {
  color: #fff;
  letter-spacing: 0.5px;
}
@media (max-width: 599.98px) {
  .footer .footer-flex .footer-author {
    margin-top: 20px;
  }
}
.footer .footer-flex .footer-author span {
  margin-right: 10px;
}

/**********/
/******* match ******/
.matches .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.matches .container .match-data {
  width: calc(50% - 40px);
  margin-bottom: 20px;
  padding: 0 20px;
}
.matches .container .match-data-flex {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=index.css.map */
