@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0px;
  font-family: "Archivo Narrow", sans-serif;
  background-color: #f8f9fb;
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #fff;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader.loader-none {
  display: none;
}
.preloader span {
  width: 10px;
  height: 10px;
  background-color: #292929;
  margin: 0 2.5px;
  border-radius: 50%;
  animation: 0.5s ease-in-out loaderSpanSize infinite;
}
.preloader span:nth-child(2) {
  animation-delay: 150ms;
}
.preloader span:nth-child(3) {
  animation-delay: 300ms;
}
.preloader span:nth-child(4) {
  animation-delay: 450ms;
}
.preloader span:nth-child(5) {
  animation-delay: 600ms;
}
.preloader span:nth-child(6) {
  animation-delay: 750ms;
}
@keyframes loaderSpanSize {
  50% {
    width: 13px;
    height: 13px;
  }
  100% {
    width: 10px;
    height: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow", sans-serif;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-family: "Archivo Narrow", sans-serif;
}

.tp {
  padding-top: 140px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .tp {
    padding-top: 70px;
  }
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 899.98px) {
  .container {
    max-width: 700px;
    width: calc(100% - 40px);
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

.red-card {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 13px;
}
@media (max-width: 479.98px) {
  .red-card {
    width: 13px;
    height: 13px;
  }
}
@media (max-width: 320px) {
  .red-card {
    width: 8px;
    height: 8px;
  }
}

.yellow-card {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(209, 209, 23);
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #000;
}
@media (max-width: 479.98px) {
  .yellow-card {
    width: 13px;
    height: 13px;
  }
}
@media (max-width: 320px) {
  .yellow-card {
    width: 8px;
    height: 8px;
  }
}

.not-found {
  text-decoration: underline;
}

.not-found-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 70px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.not-found-container h1 {
  font-size: 25px;
}
.not-found-container h1 a {
  color: blue;
}

/** navbar ***/
.nav-bar {
  height: 100px;
  width: 100%;
  background-color: #151515;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
@media (max-width: 767.98px) {
  .nav-bar {
    transition: 0.3s;
    height: 100vh;
    width: 320px;
    left: -350px;
  }
  .nav-bar.active {
    left: 0;
  }
  .nav-bar .container {
    padding: 0;
  }
}
.nav-bar .links {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
}
@media (max-width: 767.98px) {
  .nav-bar .links {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: inherit;
  }
}
.nav-bar .links a {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 15px;
  opacity: 0.8;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.nav-bar .links a.active {
  font-size: 16px;
  opacity: 1;
  border-bottom: 3px solid #fefefe;
}
@media (max-width: 767.98px) {
  .nav-bar .links a.active {
    background-color: #292929;
  }
}
.nav-bar .links a:hover {
  background-color: #292929;
}
.nav-bar .links .nav-logo {
  display: none;
  height: 120px;
}
.nav-bar .links .nav-logo img {
  height: inherit;
}
@media (max-width: 767.98px) {
  .nav-bar .links .nav-logo {
    display: flex;
    position: absolute;
    bottom: 10px;
  }
}

.menu-burger {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: none;
  z-index: 999;
}
@media (max-width: 767.98px) {
  .menu-burger {
    display: block;
  }
}
.menu-burger .burger {
  width: 30px;
  height: 4px;
  border-radius: 4px;
  transition: 0.1s;
  background-color: gray;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-burger .burger::before {
  content: "";
  transition: 0.1s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: inherit;
  height: inherit;
  border-radius: 4px;
  background-color: inherit;
}
.menu-burger .burger::after {
  content: "";
  transition: 0.1s;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 10px;
  width: inherit;
  height: inherit;
  border-radius: 4px;
  background-color: inherit;
}
.menu-burger .burger.active {
  transition: 0.1s;
  width: 28px;
}
.menu-burger .burger.active::before {
  content: "";
  transition: 0.1s;
  width: 18px;
}
.menu-burger .burger.active::after {
  transition: 0.1s;
  content: "";
  width: 18px;
}

/***** footer *****/
.footer {
  width: 100%;
  height: 140px;
  background-color: #151515;
  margin-top: 40px;
  z-index: 100;
}
@media (max-width: 599.98px) {
  .footer {
    height: auto;
  }
}
.footer .footer-flex {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid gray;
}
@media (max-width: 599.98px) {
  .footer .footer-flex {
    flex-direction: column;
    height: auto;
    padding: 20px 0 20px 0;
  }
}
.footer .footer-flex:last-child {
  border: none;
}
.footer .footer-flex .footer-link {
  display: flex;
  color: #fff;
  letter-spacing: 0.5px;
}
.footer .footer-flex .footer-link a {
  margin-left: 10px;
  letter-spacing: 0.5px;
  color: rgb(216, 117, 117);
  text-decoration: underline;
}
.footer .footer-flex .footer-link-massage {
  display: flex;
  align-items: center;
}
@media (max-width: 599.98px) {
  .footer .footer-flex .footer-link-massage {
    margin-top: 20px;
  }
}
.footer .footer-flex .footer-link-massage a {
  margin: 0 10px;
  transition: 0.2s;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-flex .footer-link-massage a:hover {
  transition: 0.2s;
  box-shadow: 0 0 10px rgb(92, 211, 226);
  border-color: rgb(92, 211, 226);
}
.footer .footer-flex .footer-link-massage a:hover svg {
  fill: rgb(92, 211, 226);
  transition: 0.2s;
}
.footer .footer-flex .footer-link-massage a svg {
  transition: 0.2s;
  fill: #fff;
}
.footer .footer-flex .footer-author {
  color: #fff;
  letter-spacing: 0.5px;
}
@media (max-width: 599.98px) {
  .footer .footer-flex .footer-author {
    margin-top: 20px;
  }
}
.footer .footer-flex .footer-author span {
  margin-right: 10px;
}

/**********/
/******* match ******/
.matches .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}
.matches .container .match-data {
  width: calc(50% - 41px);
  padding: 10px 20px;
  row-gap: 1px;
  box-shadow: 0px 0px 6px -4px rgb(0, 0, 0);
  background-color: #fff;
  z-index: 19;
}
.matches .container .match-data:hover {
  transition: 0.2s;
  background-color: #f9f9f9;
}
@media (max-width: 699.98px) {
  .matches .container .match-data {
    width: 100%;
  }
}
.matches .container .tour {
  margin-bottom: 10px;
}
.matches .container .match-data-flex {
  display: flex;
  align-items: center;
}
.matches .container .match-data-flex .match {
  flex: auto;
  border-right: 0.5px solid #ccc;
  padding: 0 20px 0 0;
}
@media (max-width: 479.98px) {
  .matches .container .match-data-flex .match {
    padding: 0 10px 0 0;
  }
}
.matches .container .match-data-flex .match .team-home,
.matches .container .match-data-flex .match .team-guest {
  margin-bottom: 10px;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 479.98px) {
  .matches .container .match-data-flex .match .team-home,
  .matches .container .match-data-flex .match .team-guest {
    font-size: 13px;
  }
}
.matches .container .match-data-flex .match .team-home.color-lose,
.matches .container .match-data-flex .match .team-guest.color-lose {
  color: gray;
  font-weight: normal;
}
.matches .container .match-data-flex .match .team-home img:first-child,
.matches .container .match-data-flex .match .team-guest img:first-child {
  margin-right: 8px;
}
.matches .container .match-data-flex .match .team-home .shot,
.matches .container .match-data-flex .match .team-guest .shot {
  margin-left: auto;
  font-weight: 500;
}
.matches .container .match-data-flex .match .team-home img.win-dotter,
.matches .container .match-data-flex .match .team-guest img.win-dotter {
  position: absolute;
  right: -19px;
}
@media (max-width: 479.98px) {
  .matches .container .match-data-flex .match .team-home img.win-dotter,
  .matches .container .match-data-flex .match .team-guest img.win-dotter {
    right: -9px;
  }
}
.matches .container .match-data-flex .match-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 479.98px) {
  .matches .container .match-data-flex .match-info {
    font-size: 13px;
  }
}
.matches .container .match-data-flex .match-info iframe {
  margin-top: 10px;
  position: relative;
}
.matches .container .match-data-flex .match-info iframe .preloader {
  position: absolute;
  display: flex;
}
@media (max-width: 479.98px) {
  .matches .container .match-data-flex .match-info iframe {
    width: 45px;
    height: 25px;
  }
}

/******** table ***/
.table {
  width: 100%;
}
.table .table-flex {
  display: flex;
}
.table .table-flex div {
  flex: 6;
}
@media (max-width: 699.98px) {
  .table .table-flex .table-flex-two {
    flex: 8;
  }
}
@media (max-width: 599.98px) {
  .table .table-flex .table-flex-two {
    width: 320px;
    overflow-x: scroll;
  }
}
.table table tr {
  height: 40px;
}
.table table tr th {
  height: inherit;
  white-space: nowrap;
}
.table table tr td {
  height: inherit;
  white-space: nowrap;
}
.table table.table-one {
  width: 50%;
  margin-top: 20px;
}
@media (max-width: 599.98px) {
  .table table.table-one {
    margin-right: 20px;
  }
}
@media (max-width: 479.98px) {
  .table table.table-one {
    margin-right: 10px;
  }
}
.table table.table-one th {
  padding: 0 20px;
}
@media (max-width: 479.98px) {
  .table table.table-one th {
    width: 70px;
    text-overflow: ellipsis;
  }
}
.table table.table-one tr {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.table table.table-one tr .team-number {
  width: 40px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px solid #fff;
}
@media (max-width: 479.98px) {
  .table table.table-one tr .team-number {
    width: 25px;
    border-width: 2px;
  }
}
.table table.table-one tr .team-number.liders {
  border-color: blue;
}
.table table.table-one tr .team-number.tops {
  border-color: orange;
}
.table table.table-one tr .team-number.outsiders {
  border-color: red;
}
.table table.table-one img.logo-club {
  margin-right: 10px;
}
@media (max-width: 479.98px) {
  .table table.table-one img.logo-club {
    height: 20px;
    margin-right: 3px;
  }
}
.table table.table-one .club-name {
  white-space: nowrap;
}
@media (max-width: 479.98px) {
  .table table.table-one .club-name {
    width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 479.98px) {
  .table table.table-one .club-name {
    font-size: 14px;
  }
}
.table .table-two {
  margin-top: 20px;
}
@media (max-width: 599.98px) {
  .table .table-two {
    width: 320px;
    overflow-x: scroll;
  }
}
.table .table-two th {
  width: 40px;
}
@media (max-width: 479.98px) {
  .table .table-two th {
    font-size: 14px;
    width: 25px;
  }
}
.table .table-two th:last-child {
  width: auto;
}
.table .table-two td {
  width: 40px;
  text-align: center;
}
@media (max-width: 479.98px) {
  .table .table-two td {
    font-size: 14px;
    width: 25px;
  }
}
.table .table-two td:last-child {
  width: auto;
}
.table .table-two td:last-child div {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .table-two td:last-child div span {
  height: inherit;
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.table .table-two td:last-child div span img {
  margin: 0 2px;
}
@media (max-width: 479.98px) {
  .table .table-two td:last-child div span img {
    width: 17px;
  }
}
.table .table-footer {
  margin-top: 40px;
  width: 99.5%;
  border: 0.5px solid #ccc;
}
.table .table-footer .table-footer-flex {
  display: flex;
  padding: 10px 18px;
}
.table .table-footer .table-footer-info {
  margin-right: 100px;
}
@media (max-width: 479.98px) {
  .table .table-footer .table-footer-info {
    margin-right: 40px;
  }
}
.table .table-footer .table-footer-info .table-liders {
  display: flex;
  align-items: center;
}
.table .table-footer .table-footer-info .table-liders span {
  width: 7px;
  height: 7px;
  background-color: blue;
  display: block;
  margin-right: 10px;
}
.table .table-footer .table-footer-info .table-tops {
  display: flex;
  align-items: center;
}
.table .table-footer .table-footer-info .table-tops span {
  width: 7px;
  height: 7px;
  background-color: orange;
  display: block;
  margin-right: 10px;
}
.table .table-footer .table-footer-info .table-outsiders {
  display: flex;
  align-items: center;
}
.table .table-footer .table-footer-info .table-outsiders span {
  width: 7px;
  height: 7px;
  background-color: red;
  display: block;
  margin-right: 10px;
}
.table .table-footer .table-footer-info .table-coments div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.table .table-footer .table-footer-info .table-coments div span {
  width: 7px;
  height: 7px;
  background-color: #000;
  margin-right: 10px;
}
.table .table-footer .table-footer-last-5 div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.table .table-footer .table-footer-last-5 div img {
  margin-right: 10px;
}

.news a {
  width: 100%;
  margin-bottom: 20px;
}
.news a:last-child {
  margin-bottom: 0;
}
.news a .news-card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.news a .news-card .news-card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 479.98px) {
  .news a .news-card .news-card-flex {
    flex-direction: column;
  }
}
@media (max-width: 479.98px) {
  .news a .news-card .news-card-flex .news-card-title-body {
    order: 2;
    margin-top: 20px;
  }
}
.news a .news-card .news-card-flex .news-card-title-body .news-card-title {
  color: blue;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
@media (max-width: 479.98px) {
  .news a .news-card .news-card-flex .news-card-title-body .news-card-title {
    text-align: center;
  }
}
.news a .news-card .news-card-flex .news-card-title-body .news-card-title:hover {
  text-decoration: underline;
}
.news a .news-card .news-card-flex .news-card-title-body .news-card-author {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
@media (max-width: 479.98px) {
  .news a .news-card .news-card-flex .news-card-title-body .news-card-author {
    text-align: center;
  }
}
.news a .news-card .news-card-flex .news-card-title-body .news-card-author span {
  font-size: 14px;
  margin-left: 10px;
}
.news a .news-card .news-card-flex .news-card-image img {
  border-radius: 7px;
  margin-left: 20px;
}

.news-link-history {
  font-size: 14px;
  color: blue;
  opacity: 0.6;
  text-decoration: underline;
  margin-bottom: 40px;
}

.news-link-title {
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
  font-size: 18px;
}

.news-link-image {
  margin-bottom: 20px;
}
.news-link-image img {
  border-radius: 10px;
}
@media (max-width: 599.98px) {
  .news-link-image img {
    width: 100%;
  }
}

.news-link-body {
  line-height: 30px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.news-link-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

.match-date {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 20px;
}
.match-date .mpl-name span {
  margin-left: 10px;
  color: #817f7f;
}

.match-teams {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
}
@media (max-width: 479.98px) {
  .match-teams {
    padding: 0 40px;
  }
}
.match-teams .match-team-flex {
  display: flex;
  align-items: center;
}
.match-teams .match-team-flex .team-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
}
@media (max-width: 699.98px) {
  .match-teams .match-team-flex .team-home img {
    width: 60px;
  }
}
@media (max-width: 479.98px) {
  .match-teams .match-team-flex .team-home img {
    width: 40px;
  }
}
.match-teams .match-team-flex .team-home span {
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 699.98px) {
  .match-teams .match-team-flex .team-home span {
    font-size: 16px;
  }
}
@media (max-width: 699.98px) and (max-width: 479.98px) {
  .match-teams .match-team-flex .team-home span {
    font-size: 13px;
  }
}
.match-teams .match-team-flex .team-home-point {
  font-size: 40px;
  margin-left: 50px;
}
@media (max-width: 699.98px) {
  .match-teams .match-team-flex .team-home-point {
    font-size: 30px;
    margin-left: 25px;
  }
}
@media (max-width: 699.98px) and (max-width: 479.98px) {
  .match-teams .match-team-flex .team-home-point {
    font-size: 20px;
    margin-left: 10px;
  }
}
.match-teams .match-team-flex .team-guest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
}
@media (max-width: 699.98px) {
  .match-teams .match-team-flex .team-guest img {
    width: 60px;
  }
}
@media (max-width: 479.98px) {
  .match-teams .match-team-flex .team-guest img {
    width: 40px;
  }
}
.match-teams .match-team-flex .team-guest span {
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 699.98px) {
  .match-teams .match-team-flex .team-guest span {
    font-size: 16px;
  }
}
@media (max-width: 699.98px) and (max-width: 479.98px) {
  .match-teams .match-team-flex .team-guest span {
    font-size: 13px;
  }
}
.match-teams .match-team-flex .team-guest-point {
  font-size: 40px;
  margin-right: 50px;
}
@media (max-width: 699.98px) {
  .match-teams .match-team-flex .team-guest-point {
    font-size: 30px;
    margin-right: 25px;
  }
}
@media (max-width: 699.98px) and (max-width: 479.98px) {
  .match-teams .match-team-flex .team-guest-point {
    font-size: 20px;
    margin-right: 10px;
  }
}
.match-teams .match-defis {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
@media (max-width: 699.98px) {
  .match-teams .match-defis {
    font-size: 30px;
  }
}
.match-teams .match-team-flex-2 {
  justify-content: flex-end;
}
.match-teams .match-team-guest-stat div {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.match-teams .match-team-guest-stat div img {
  margin: 0 5px;
}

.match-video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.match-video .match-link-video {
  position: relative;
  display: flex;
  justify-content: center;
}
.match-video .youtube {
  position: absolute;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}
@media (max-width: 479.98px) {
  .match-video .youtube {
    width: 100%;
  }
}
.match-video .youtube img {
  transition: 0.2s;
}
@media (max-width: 479.98px) {
  .match-video .youtube img {
    width: 70px;
  }
}
.match-video .youtube:hover {
  transition: 0.2s;
}
.match-video .youtube:hover img {
  transition: 0.2s;
  transform: rotate(360deg);
}

.match-team-home-stat div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.match-team-home-stat div img {
  margin: 0 5px;
}

@media (max-width: 479.98px) {
  .link-video-youtube {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
